@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* shared styles */
.btn-primary {
	border-radius: 8px;
	background: #FF900E;
	padding: 20px 25px;
	border: none;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}
* {
	font-family: 'Work Sans', sans-serif;
}

/* navbar design */
header {
	background: rgba(255, 144, 14, 0.10);
	padding: 10px 6.25rem;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.nav-title {
	font-size: 2rem;
	font-weight: 700;
	color: #131313;
}
nav > ul {
	display: flex;
}
nav li {
	list-style: none;
	margin-right: 1.8rem;
	font-size: 1rem;
	font-weight: 500;
}
nav li a {
	text-decoration: none;
	color: #424242;
}
/* banner start */
.banner-content {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1.25rem;
}
.banner-title {
	font-size: 4rem;
	font-weight: 700;
	color: #131313;
}
.banner-description {
	color: #727272;
}
.banner img {
	width: 100%;
}
/* banner end */

/* main start */
main {
	max-width: 1440px;
	margin: 0 auto;
}

/* Responsive media  */
@media screen and (max-width: 576px) {
	header{
		padding: 10px;
	}
	nav {
		flex-direction: column;
	}
	.banner-content {
		width: 23.75rem;
		text-align: center;
	}

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
	header {
		padding: 0;
	}
	nav {
		flex-direction: column;
	}
}

/* teams styles */
section {
	padding: 0 6.25rem;
}
.teams-container {
	display: flex;
	align-items: center;
}
.teams-content {
	width: 50%;
	padding: 0 4.3rem;
}
.teams-img-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	width: 50%;
}
.teams-img-container img {
	width: 100%;
}
.teams-title {
	font-size: 2.8rem;
}
.teams-title .quick-list {
	color: #727272;
	font-weight: 500;
}
.teams-title .our {
	color: #131313;
}
.teams-title .text-features {
	color: #FF900E;
}
.teams-description {
	color: #727272;
	line-height: 26px;
	margin-bottom: 1.2rem;
}